
<header>
    <div class="logo">
        <a href="{{ url_for('main.index') }}">SolCare</a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.disease') }}">질병 정보</a></li>
            <li>
                <a href="#">치매 예측 서비스</a>
                <ul class="dropdown">
                    <li><a href="/templates/dementia/dmt_input.html">치매 예측</a></li>
                    <li><a href="{{ url_for('mci.create_input') }}">MCI 예측</a></li>
                </ul>
            </li>
            <li><a href="/templates/map/map.html">치매 센터 안내</a></li>
            <li><a href="{{ url_for('auth.login') }}">로그인/회원가입</a></li>
        </ul>
    </nav>
</header>