<!--우선 mci만 해서 베이스 만들고 나중에 전체에 대한 베이스로 수정해서 만들기-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MCI 예측 서비스</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mci/mci_input.css') }}" />
</head>

<body>
    {% include "shared/header.html" %}

    <main>

        {% block content %}

        {% endblock %}

    </main>

    <script src="{{ url_for('static', filename='js/mci_js/mci_input.js') }}"></script>
    {% include "shared/footer.html" %}
</body>

</html>

