



/* 치매 정보 입력폼 */
.predict-form {
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}
.predict-form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.predict-form ul {
  list-style: none;
  padding: 0;
}
.predict-form li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 14px;
}
.predict-form label {
  width: 120px;
  font-weight: bold;
  text-align: right;
}
.predict-form input,
.predict-form select {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}




/* 치매, mci 예측버튼 공통 */

.predict-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  grid-column: span 2;
  transition: background-color 0.3s ease;
}

.predict-btn:hover {
  background-color: var(--primary-hover);
}




/* === 돌아가기 버튼 공통 === */
.back-btn {
  display: block;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  font-size: 16px;
  color: #6a1b9a;
  font-weight: bold;
}
.back-btn:hover {
  color: #4a148c;
}


