<!-- templates/auth/signup.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/auth/auth.css">
  <link href="https://fonts.googleapis.com/css2?family=Spoqa+Han+Sans&display=swap" rel="stylesheet">
</head>
<body>
  {% include "shared/header.html" %}

  <div id="container">
    <div class="signup">
      <h1>회원 가입</h1>

      {% include "form_errors.html" %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash">{{ messages[0] }}</div>
        {% endif %}
      {% endwith %}

      <form method="post" action="{{ url_for('auth.signup') }}">
        {{ form.csrf_token }}

        {{ form.username(placeholder='사용자이름(3~25자)') }}
        {{ form.email(placeholder='이메일') }}
        {{ form.password1(placeholder='비밀번호') }}
        {{ form.password2(placeholder='비밀번호 확인') }}

        <div id="buttons">
          <button type="submit">가입하기</button>
          <button type="reset">취소</button>
        </div>
      </form>
    </div>
  </div>

  {% include "shared/footer.html" %}
</body>
</html>
